name: Tests

on:
  push:
    paths:
      - "source/**"
      - "tests/**"
      - "deno.json"
    branches:
      - main
  pull_request:
    paths:
      - "source/**"
      - "tests/**"
      - "deno.json"
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Run tests
        run: deno test --allow-all
